#{extends 'main.html' /}
#{set title:'我的网站书签' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/Bookmarkers/index.css'}"/>
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/Bookmarkers/index.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}

<div class="toolbar">
    共收藏<b>${bookmarkers.size()}</b>个站点
    <input type="button" id="refresh" value="刷新"/>
    <input type="button" id="btnMaximize" value="显示书签栏"/>
</div>

<ul id="globalnav" style="display:none">
    #{list items:bookmarkers, as:'bookmarker'}
    <li><a id="${bookmarker.id}" href="${bookmarker.url}" target="_blank" title="${bookmarker.description}">${bookmarker.name}
        <span id="${bookmarker.id}hit">${bookmarker.hit}</span>
    </a> <span class="sd">[${bookmarker.key}]</span></li>
    #{/list}
</ul>

<div id="frame_container">
    <iframe id="frameWindow" class="frame" src="${homepage}" width="100%" height="100%">
    </iframe>
</div>
