#{extends 'blogs.html'/}
#{set title:'博客'/}

<div>
    #{form @Blogs.save() }
    <input type="hidden" name="id" value="${blog.id}"/>
    <p>
        <label for="title">标题:</label>
        <input type="text" id="title" name="title" size="30" value="${blog.title}"/>
    </p>

    <p>
        <label for="content">内容:</label>
        <textarea id="content" name="content">${blog.content.asString()}</textarea>
    </p>

    <p>
        <input type="submit" name="actionType" value="保存"/>
        #{if blog.status == 0}
        <input type="submit" name="actionType" value="发布"/>
        #{/if}
        <a href="@{Blogs.user(user)}">取消</a>
    </p>
    #{/form}
</div>