#{extends 'main.html'/}
#{set title:'博客'/}

<style type="text/css">
    div.blog {
        border: 1px dashed gray;
        padding: 2px;
        margin-bottom: 1em;
    }

    .content {
        text-indent: 1em;
    }

    .createAt, .author, .hit, .comments {
        color: gray;
        font-size: 9px;
    }
</style>
<div class="container">
    <div class="span-24">
        <h3> 博客主页 </h3>
        #{if user}
        <a href="@{Blogs.user(user)}">我的博客主页</a>
        #{/if}
    </div>
    <div class="span-24">
        <div class="span-18 colborder">
            <div class="pagenav">
                #{pagebar page:blogs ,action:'Blogs.index', config:[showDetail:false] /}
            </div>
            <div class="list">
                #{include 'Blogs/_list.html'/}
            </div>
            <div class="pagenav">
                #{pagebar page:blogs ,action:'Blogs.index', config:[showDetail:false] /}
            </div>
        </div>
        <div class="span-5 last">
            <div>
                <a href="@{Blogs.blank()}">写博客</a>
            </div>

        </div>
    </div>
</div>