#{extends 'main.html'/}
#{set title:'博客'/}

<style type="text/css">
    div.blog {
        border: 1px dashed gray;
        padding: 2px;
        margin-bottom: 1em;
    }

    .content {
        text-indent: 1em;
    }

    .createAt, .author, .hit, .comments {
        color: gray;
        font-size: 9px;
    }
</style>
<div class="container">
    <div class="span-24">
        <h3> ${currUser.nickname} 的博客</h3>
    </div>
    <div class="span-24">
        <div class="span-18 colborder">
            总数 : ${blogs.total}, 当前页: ${blogs.currPage}, 当前显示: ${blogs.start + 1} -
            ${blogs.start + blogs.items.size()}项
            <div class="list">
                #{list items:blogs, as:'blog'}
                <div class="blog span-18">
                    <div class="span-18 ">
                        <div class="title span-4"><h3>* <a href="@{Blogs.show(blog.id)}">${blog.title}</a></h3></div>
                        <div class="createAt span-3">发布于:${blog.createAt.format()}</div>
                        <div class="author span-3">作者:${blog.author}</div>
                        <div class="hit span-2">点击:${blog.hit?:""}</div>
                        <div class="comments span-2">评论:${blog.comments?:""}</div>
                    </div>
                    <div class="content span-18">
                        <hr size="1" style="width:400px"/>
                        <pre> ${blog.content.asString()}</pre>
                    </div>
                    <div class="span-24">
                        <span>标签：</span>
                        <span> <a href="">评论</a></span>
                        <span> <a href="">引用</a></span>
                    </div>
                </div>
                #{/list}
                <div class="page">
                    #{if !blogs.isFirstPage()}
                    <span class="prePage"><a href="@{Blogs.page(blogs.currPage -1)}">《</a></span>
                    #{/if}
                    #{if !blogs.isLastPage()}
                    <span class="nextPage"><a href="@{Blogs.page(blogs.currPage +1)}">》</a></span>
                    #{/if}
                </div>
            </div>
        </div>
        <div class="span-5 last">
            <div>
                <a href="@{Blogs.blank()}">写博客</a>
            </div>
            <div class="userinfo">
                个人说明:
                <p><a href="@{Blogs.userhome(currUser.nickname)}">${currUser.nickname}</a></p>
            </div>
        </div>
    </div>
</div>