#panel {
    width: 100%;
    margin: 0 auto;
}

div.divtitle {
    background-color: gray;
    margin: 1px 1px 1px 1px;
    padding: 1px 2px 1px 2px;
}

#toolbar {
    float: left;
    width: 100%;
    margin-right: 0;
}

#navbar {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    width: 200px;
    border: 1px gray solid;
}

#frame_container {
    float: left;
    text-align: center;
    margin-right: 0;
    padding-right: 0;
    height: 555px;
    border: 1px gray solid;
}

#frameWindow {
    width: 100%;
}
