/**
 * css for main
 *
 */
#header {
    background-color: #E0FFB8;
    color: black;
    height: 28px;
    padding: 4px 2px 0px 2px;
}

#footer {
    background-color: #E0FFB8;
    color: black;
    height: 28px;
    padding: 4px 2px 0px 2px;
}

#sitetitle {
    float: left;
}

div#quicklinks {
    float: right;
    text-align: right;
}

div#quicklinks a {
    background-color: white;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1em;
}

div#quicklinks a.selected {
    text-decoration: underline;
    background: #FFCC00;
    color: red;
    font-weight: bold;
}

div#quicklinks a:hover {
    text-decoration: underline;
    background: #FFCC00;
    color: red;
}

#searchkey {
    width: 300px;
    font-size: 11pt;
    font-weight: bold;
}
