/**
 * css for main
 *
 */
#header{
	background-color:black;
	color:white;
	height: 30px;
}

div#quicklinks{
	float: right;
	margin-right: 10px;
}

div#quicklinks a{
  background-color: white;
  text-decoration: none;
  padding: 4px 5px 4px 5px ;
}

div#quicklinks a:hover{
  text-decoration: underline;
  background: #FFCC00;
  color: red;
}

#searchkey{
	width: 300px;
	font-size: 11pt;
	font-weight:bold;
}
