#{extends 'main.html'/}
#{set title: '用户登录'/}


<div class="container">
    <div class="span-24">
        <h3>用户登录</h3>
        #{if flash.error}
        <p class="error">${flash.error}</p>
        #{/if}
        #{if flash.success}
        <p class="success">${flash.success}</p>
        #{/if}
        <a href="@{Application.login()}">使用google帐号登录</a>
        <a href="@{Users.regist()}">注册新用户</a>
    </div>
    <div class="span-24">
        <div class="span-7">
            #{form @Users.logon(), id:'logonForm' }
            <p>
                <label for="username">用户名：</label>
                <input type="text" id="username" name="username" value="${flash.username?:''}"/>
            </p>

            <p>
                <label for="password">密码：</label>
                <input type="password" id="password" name="password"/>
            </p>

            <p>
                <input type="submit" name="logon" value="登录"/> 还未注册帐号? 点击<a href="@{Users.regist()}">此处</a>注册新用户!
            </p>
            #{/form}
        </div>
    </div>
</div>