#{extends 'main.html' /}
#{set title:'自制翻墙一代' /}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/site.css'}" />
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/libs/jquery/ui/ui-lightness/jquery-ui-1.7.2.custom.css'}"/>
<script src="@{'/public/libs/jquery/ui/jquery-ui-1.7.2.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){
		
		})
</script>

<h1>翻墙一代</h1>
<div>
%{
   out.print(content);
}%
</div>



