#{extends 'albums.html'/}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/stylesheets/blueprint/plugins/silksprite/sprite.css'}" type="text/css"
      media="screen, projection">
#{/set}

<style type="text/css">
    .photo {
        text-align: center;
    }
</style>
<div class="container">
    <div class="span-24 ">
        <div style="margin:0 auto;"></div>
        <div style="float:left;"><h3>相册: ${album.name}</h3></div>
        <div style="float:left;margin-left:10px;"><a href="@{Albums.edit(album.id)}" title="编辑相册信息">编辑</a></div>
    </div>
</div>

<div class="span-6 colborder ">
    上传照片:
    <div>
        #{form @Albums.upload(album.id) , id:'uploadForm', enctype:'multipart/form-data' }
        <p>
            <label for="name">名称：</label>
            <input type="text" id="name" name="name"/>
            <input type="file" id="upload" name="upload"/>
        </p>

        <p>
            <input type="submit" value=" 上传 "/> 或者 <a href="@{Albums.index()}">返回相册首页</a>
        </p>
        #{/form}
    </div>
</div>

<div class="span-17 last list">
    #{list items:photos, as:'photo'}
    #{set 'photo_title'}
    ${photo.name}
    ${photo.createAt.format()}
    #{/set}
    <div class="span-3 colborder photo">
                <span class="item_content">
                    <a href="@{Albums.view_photo()}?id=${photo.id}" target="_blank" title="#{get 'photo_title'/}">
                        <img src="@{Albums.view_smallphoto()}?id=${photo.id}" alt="${photo.name}">
                    </a>
                </span>
                 <span>
                        ${photo.name?: photo.createAt.prettyFormat()}
                </span>
    </div>
    #{/list}

</div>
</div>
