#{extends 'todolists.html' /}
#{set title:'编辑待办列表' /}


<h4>编辑 <span class="more">#{a @TodoLists.delete(list.id)}或者删除列表#{/a}</span></h4>

#{form @TodoLists.save(list.id)}

<p>
    <label for="name">名称</label>
    <input type="text" name="name" id="name" size="60" value="${list.name}"/>
</p>

<p>
    <label for="notes">备注 (可选)</label>
    <textarea id="notes" name="notes" cols="60" rows="5">${flash.notes ?: list.notes}</textarea>
</p>

<p>
    <input type="submit" value="保存修改"> 或者 <a href="@{TodoLists.show(list.id)}">取消</a>
</p>

#{/form}