#{extends 'todolists.html' /}

#{set title:list /}
<script type="text/javascript" charset="utf-8">
    //Events
    $(function() {
        $('.checker').change(function() {
            var done = $(this).parents('ul').is("#todo");
            var li = $(this).parent();
            $.post('@{TodoLists.changeItemState(list.id, "000000")}'.replace('000000', li.attr('rel')), {done: done}, function() {
                if (done) {
                    $('#done').prepend(li);
                    $(li).effect('highlight')
                } else {
                    $('#todo').append(li);
                    $(li).effect('highlight')
                }
            });
        });
        $('.deleter').live('click', function(e) {
            var l = $(this);
            e.preventDefault();
            $.post('@{TodoLists.deleteItem(list.id, "000000")}'.replace('000000', $(this).parent().parent().attr('rel')), function() {
                l.parent().parent('li').effect('drop');
            });
        });
        $('#sort').click(function(e) {
            e.preventDefault();
            if ($('#items').is('.sortable')) {
                $(this).html("重新排序").removeClass('strong');
                $('#items').toggleClass('sortable');
                $('#items form, #done, #todo input').show();
                $('#todo').sortable('destroy');
                // Post result
                var order = '';
                $('li[rel]').each(function() {
                    order += ',' + $(this).attr('rel');
                });
                order = order.substring(1);
                $.post('@{TodoLists.reorderItems(list.id)}', {newOrder: order});
            } else {
                $(this).html("结束排序").addClass('strong');
                $('#items').toggleClass('sortable');
                $('#items form, #done, #todo input').hide();
                $('#todo').sortable({axis: 'y'});
            }
        });
    });
</script>
<h4><a id="back" href="@{TodoLists.index()}">我的待办列表:</a> ${list}
    <span class="more">
        <a href="@{TodoLists.edit(list.id)}">编辑</a>
        #{if items.size() > 1} |
        <a id="sort" href="#">重新排序</a>
        #{/if}
        #{a @TodoLists.email(list.id)}备份到邮件#{/a}
     </span>
</h4>

<div id="items">

    #{if list.notes}
    <p>
        ${list.notes}
    </p>
    #{/if}

    <ul id="todo">
        #{list items:items, as:'item'}
        <li rel="${item.id}"><input type="checkbox" class="checker"/>${item} <span class="do">- <a class="deleter"
                                                                                                   href="#">删除</a></span>
        </li>
        #{/list}
    </ul>

    #{form @TodoLists.addItem(list.id)}
    <input type="text" name="label" size="30"/>

    <p>
        <input type="submit" value="+ 添加">
    </p>
    #{/form}

    <ul id="done">
        #{list items:oldItems, as:'item'}
        <li rel="${item.id}"><input type="checkbox" checked="true" class="checker"/>${item} <span class="do">- <a
                class="deleter" href="#">删除</a></span></li>
        #{/list}
    </ul>

</div>