#{extends 'main.html' /}
#{set title:'心语新说' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen"
      href="@{'/public/libs/jquery/ui/ui-lightness/jquery-ui-1.7.2.custom.css'}"/>
<link rel="stylesheet" href="@{'/public/stylesheets/blueprint/plugins/silksprite/sprite.css'}" type="text/css"
      media="screen, projection">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/libs/jquery/ui/jquery-ui-1.7.2.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}
<style type="text/css">
    input#content {
        width: 300px;
    }

    .item {
        line-height: 150%;
    }

    .item span {
        margin-left: 8px;
        color: gray;
    }

    .item span.item_content {
        color: blue;
    }
</style>
<script type="text/javascript">
    $(function() {
        var $tabs = $("#tabs").tabs({
            fx: { opacity: 'toggle' } ,
            selected: 0
        });
    });

</script>

<div class="container">
    <div class="span24">
        <h3>心语新说</h3>

        <div id="tabs">
            <ul>
                <li><a href="#fragment-1"><span>大家在说什么</span></a></li>
                #{if user}
                <li><a href="#fragment-2"><span><a href="@{Says.user(user)}">我在说什么</a></span></a></li>
                #{/if}
            </ul>
            <div id="fragment-1">
                <div>
                    <a href="@{Says.user(user)}">我要说!</a>
                </div>
                <div class="list">
                    #{include 'Says/_list.html' /}
                </div>
                <div class="pagenav">
                    <hr/>
                    #{pagebar page:says, action:'Says.index' /}
                </div>
            </div>
        </div>
    </div>
</div>


