#{extends 'main.html' /}
#{set title:'我的网站收藏' /}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/site.css'}" />
<script src="@{'/public/javascripts/Site/index.js'}" type="text/javascript" charset="utf-8"></script>
<div class="toolbar">
	共收藏<b>${bookmarkers.size()}</b>个站点
	<input type="button" id="refresh" value="刷新"/>
	<input type="button" id="btnMaximize" value="Minimize"/>
</div>

<ul id="globalnav">
#{list items:bookmarkers, as:'bookmarker'}
	<li><a id = "${bookmarker.id}" href="${bookmarker.url}" target="_blank" title="${bookmarker.description}">${bookmarker.name}
		<span id = "${bookmarker.id}hit">${bookmarker.hit}</span>
	</a> <span class="sd">[${bookmarker.key}]</span></li>
#{/list}
</ul>

<div id="frame_container">
	<iframe class="frame" src="${homepage}" width="1024" height="600">
	</iframe>
</div>
