#{extends 'main.html'/}
#{set title:'博客'/}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/Blogs/index.css'}"/>
#{/set}
<div class="container">
    <div class="span-24">
        <h3><a href="@{Blogs.index()}">博客主页［开发中...]</a></h3>
        #{if user}
        <h4><a href="@{Blogs.user(user)}">${user_nickname?:user_name} 博客主页 </a></h4>
        #{/if}

        <div class="info">
            #{if flash.error}
            <p class="error">${flash.error}</p>
            #{/if}
            #{if flash.success}
            <p class="success">${flash.success}</p>
            #{/if}
        </div>
    </div>

    <div class="span-18 colborder">
        #{doLayout /}
    </div>

    <div class="span-5 last">
        #{if user}
        <div>
            <span><a href="@{Blogs.user(user_name)}">${user_name}</a>个人信息 </span>

            <div>
                <p>昵称: ${user_nickname}</p>
            </div>
        </div>
        #{/if}
        <div>
            <span><a href="@{Blogs.blank()}">写博客</a> </span>
        </div>
        #{if user && params.user == user}
        <div>
                  <span>
                      <a href="@{Blogs.user_temps}">还未发布的博客</a>
                  </span>
        </div>
        #{/if}
    </div>
</div>
