<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>#{get 'title' /} - 阿牛的孵化窝</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="@{'/public/images/favicon.ico'}" type="image/x-icon" rel="icon"/>
    <link rel="stylesheet" href="@{'/public/stylesheets/blueprint/screen.css'}" type="text/css"
          media="screen, projection">
    <!--<link rel="stylesheet" href="@{'/public/stylesheets/blueprint/print.css'}" type="text/css" media="print">-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="@{'/public/stylesheets/blueprint/ie.css'}" type="text/css" media="screen, projection">
    <![endif]-->
    <!--<link rel="stylesheet" href="@{'/public/stylesheets/blueprint/plugins/fancy-type/screen.css'}" type="text/css"-->
    <!--media="screen, projection">-->
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}"/>
    #{get 'moreStyles' /}
    <script src="@{'/public/libs/jquery/jquery-1.3.2.min.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="utf-8"></script>
    #{get 'moreScripts' /}
</head>
<body>
<div id="container">
    <div id="header">
        <div id="sitetitle">
            牛窝
        </div>

        <div id="quicklinks">
            ${user ? (nickname?:user ) :  "你还未登录" }
            |
            <a href="@{Blogs.index()}" title="博客">博客</a>
            |
            <a href="@{Says.index()}" title="心语新说">心语</a>
            #{if user}
            |
            <a href="@{TodoLists.index()}" title="你的ToDo List">待办</a>
            |
            <a href="@{Bookmarkers.index()}" title="在线书签">书签</a>
            |
            <a href="@{Albums.index()}" title="相册">相册</a>
            |
            <input type="input" id="searchkey" name="searchkey" value="${key}"/>
            <input type="button" id="btnSearch" value="Go!"/>
            |
            <a href="@{Setting.index()}">选项</a>
            -
            <a href="@{Users.logout()}">退出</a>
            #{/if}
            #{else}
            |
            <a href="@{Users.login()}">登录</a>
            #{/else}
        </div>
    </div>

    <div id="main">
        #{doLayout /}
    </div>

    <div id="footer">
        &copy 2010
        <a href="http://beehao.appspot.com" title="HOSTED BY GAE" target="_blank">beehao</a>
        <span id="version_info">(beta-20101205)</span>
        |
        <a href="https://github.com/itang/beehao">Source</a>
        <!--<a href="#">About</a>
        |
        <a href="#">Roadmap</a>-->
    </div>
</div>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-8402602-3");
        pageTracker._trackPageview();
    } catch(err) {
    }
</script>
</body>
</html>
