<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        <script src="@{'/public/libs/jquery/jquery-1.3.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
          var proxyUrl = {
            "http://googlegroups" : "http://groups.google.com"
          };
        	$(function(){
        	 
        		function openSearchPage(){ 
        		  var searchKey = $("#searchkey").attr("value");
        		  var isproxy = function(){
        		     return searchKey && searchKey.indexOf("http") == 0;
        		  }
        		  
        		  function real(){
        		    if(isproxy()){
        		      for(p in proxyUrl){
        		        if(searchKey.indexOf(proxyUrl[p]) == 0){
        		          return p + searchKey.substring(proxyUrl[p].length);
        		        }
        		      }
        		    }
        		    return searchKey;
        		  }
        		  window.open("@{Tool.search()}?key=" + real(), "My Search" ); 
        		};
        		$("#btnSearch").click(openSearchPage);
        		$("#searchkey").keypress(function(e){
    					if (e.which == 13){
    						openSearchPage()
    					}
	    		});
        	})
        </script>
    </head>
    <body>
    <div id="container">
    	<div id="header">
    		<span>
    			我的网站
    		</span>
			<div id="quicklinks">
				<span>快捷方式</span>
				<input type="input" id="searchkey" name="searchkey" value="${key}"/> <input type="button" id="btnSearch" value="Go!"/>
				|<a href="/">主页</a>
				|<a href="http://www.playframework.org/documentation/1.1-trunk/home" target="_blank">play!-1.1</a>
				|<a href="http://localhost:9000/bespin" target="_blank">bespin</a>
				|<a href="@{Tool.index()}">my tools</a>
			</div>
		</div>
		
		<div id="content">
        #{doLayout /}
        </div>
        
    	<div id="footer"> 
    		<span>
    		itang &copy 2009
    		</span>
		</div>
    </div>
    
     <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-8402602-3");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
      
    </body>
</html>
